@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #0056b3;
  --color-secondary: #28a745;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
